.centered {
    margin: auto;
    float: none;
}
#Welcome{
    text-align: center;
    color: brown;
}
#List{
    border-style: solid;
    border-radius: 25px;
    padding: 5px;
    width: 250px;
    height: 30px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}